body {
    background-color: #E0E0E0;
    /* background-color: #E3EBEF; */

}

h1 {
    font-family: IBM Plex Mono, sans-serif;
    font-size: 60px;
    font-weight: 400;
}

h2 {
    font-family: IBM Plex Mono, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
#image {
    position: absolute;
    top:0;
    z-index: -1;
}

.container-1 {
display: flex;
justify-content: center; /* align item horizontally */
align-items: center; /* align item vertically */
padding-top: 200px;
gap: 200px;


}

.box-1 {
    /* background-color: white; */
    background-color: white; 
    
    shape-inside: polygon(250px 0, 500px 0, 500px 180px, 500px 320px, 500px 500px, 250px 500px, 0 500px, 0 320px, 0 180px, 0 0);
  -webkit-clip-path: polygon(250px 0, 500px 0, 500px 180px, 500px 320px, 500px 500px, 250px 500px, 0 500px, 0 320px, 0 180px, 0 0); 
    width: 500px;
    height: 500px;
    shape-padding: 10px;
    transition: all 3s ease; 

}

.box-1:hover {
    background-color: yellowgreen; 
    shape-inside: polygon(215.50232175779345,0.007303455948829651
    218.52873607254026,9.527367819786072
    221.55823623327817,19.05713919971441
    224.5913185095787,28.598178690075873
    227.61571445222944,38.111893945606425
    230.64538600538108,47.642204467450114
    233.679232395594,57.18564759884379
    236.706794107842,66.70932128279578
    239.7345442199707,76.2335876083374
    242.76819726991803,85.77642255738024
    245.79680978714129,95.30340171439629
    248.82493111762665,104.82883576592684
    251.8564124428227,114.36483921165826
    254.8843442395716,123.88967705487667
    257.9120268006086,133.4137308877872
    260.94606872775927,142.95778911151103
    263.97597397008894,152.48883473958438
    268.49285857103393,159.963
    278.5027442246898,159.963
    288.5028271372742,159.963
    298.49633613344446,159.96300000000002
    308.5037638235395,159.963
    318.5052086669913,159.963
    328.50719868376626,159.963
    338.5013607424532,159.963
    348.4974051448861,159.963
    358.4952365976535,159.963
    368.49485687724274,159.96299999999997
    378.5063036140292,159.963
    388.50846183279214,159.963
    398.50006911282935,159.963
    408.5062791551103,159.963
    418.5113951439108,159.963
    428.508280173058,159.963
    424.8256869513354,164.48406393318768
    416.7924777043518,170.44937030031903
    408.76163779383415,176.41291724385368
    400.7352639262987,182.3731477899413
    392.7077019865631,188.33426057554772
    384.67750099695627,194.29733306872757
    376.6437114454064,200.2630703588459
    368.62311220929195,206.21901277493168
    360.5951523422548,212.1804210536832
    352.5677078360259,218.14144663543084
    344.5315125093665,224.10897040778025
    336.5121560347478,230.06398997313033
    328.4811075371752,236.02769180939197
    320.4500405228084,241.99140739586812
    312.42534914145716,247.95038856014105
    304.39446050247625,253.91397168849343
    298.31768446785213,260.5132152294218
    301.3467020355874,270.041408971459
    304.3768783243969,279.57324763091276
    307.4056555050835,289.1006852022372
    310.43284450918196,298.62312694442215
    313.4618869967699,308.151399075303
    316.49074960125307,317.6791053589957
    319.521997618183,327.21431528749673
    322.5552739037036,336.75590541540635
    325.5829462511817,346.27986758104953
    328.6125006345632,355.80974995095573
    331.6381618628113,365.32738586287695
    334.67020636136084,374.8651012344844
    337.7005500699263,384.39746653593875
    340.7292347981684,393.9246132853106
    343.75709646272657,403.44917097401617
    346.7893371336837,412.98750343306693
    345.48960509703664,416.4527755260021
    337.45408016289423,410.48574957421556
    329.43424649766905,404.53037565631774
    321.41051788469997,398.57210942529053
    313.37075660231415,392.60193764294337
    305.3510380342845,386.6466491940047
    297.32694287868173,380.6881107754819
    289.2938933256763,374.7229229940211
    281.2620638533019,368.758641220923
    273.2406777097659,362.8021144625516
    265.2039610550486,356.83420356203357
    257.1790336529375,350.87504713329304
    249.14883222797403,344.9119743168258
    241.12011931846294,338.9500068432461
    233.0931625371274,332.98934343660466
    225.06122799601712,327.0249836414882
    217.04118662080728,321.06945548215884
    209.01115896841168,324.74347381697515
    200.9830565925256,330.70497000865095
    192.95340420717065,336.66761720402764
    184.9147445623923,342.6369529965642
    176.89173734539114,348.5946656328159
    168.8662715108141,354.5542039856106
    160.83328468203092,360.5193272669748
    152.8073682473031,366.4792002257519
    144.7793447618999,372.4406378350516
    136.74508429942748,378.40670688940565
    128.71995614933522,384.3659944849634
    120.69568141787313,390.3246483501978
    112.659885813609,396.29185736783546
    104.63139081906724,402.2536451096823
    96.59842599496204,408.2187520508457
    88.57610164536739,414.1759576044455
    83.05176337538525,416.6317407820796
    86.08529552621461,407.0894208539942
    89.11284110389401,397.5659323717053
    92.14135374256028,388.0394018892436
    95.1741814999617,378.4992977106906
    98.20394725930794,368.9688253948011
    101.2298916390799,359.45037366239353
    104.26002180007264,349.91875507973623
    107.29001609372331,340.38756388323526
    110.32176501668096,330.8508533009588
    113.34876275288809,321.3290881162446
    116.37858078015557,311.7984513856722
    119.40730741023367,302.27124776891947
    122.43840097157295,292.7365987010494
    125.46795571666536,283.20679015446217
    128.49767229617896,273.67647253932205
    131.52704964904785,264.1472220001221
    129.67517151398812,256.19342732497637
    121.65167903142364,250.23535016105131
    113.61050229015896,244.264141037677
    105.5932870021651,238.31072518672835
    97.56359143669434,232.3480417435938
    89.53400046167735,226.3854359671357
    81.50798074457482,220.42548213187064
    73.4673967760252,214.45471318907664
    65.44572233655408,208.49798606580546
    57.41549731884158,202.53490946254553
    49.38769993738706,196.57363557103267
    41.36637280410682,190.61716635005146
    33.33742341659226,184.6550370030105
    25.303154160259968,178.6889572330101
    17.268970677437803,172.72294115661856
    9.249604438080922,166.76792805432024
    1.2165595961233415,160.8027575087431
    8.672808419986618,159.963
    18.683060851775796,159.96299999999997
    28.67975645693875,159.963
    38.668242889629425,159.963
    48.68078056135564,159.963
    58.68351541747116,159.963
    68.68330249769323,159.963
    78.67674558182242,159.96300000000002
    88.6740499979205,159.963
    98.67721527158885,159.96300000000002
    108.67636657965876,159.963
    118.67149243297396,159.963
    128.68665098233828,159.963
    138.68610419094813,159.96299999999997
    148.68207814107905,159.96299999999997
    158.66950226414693,159.963
    165.86731643547398,156.1274475149901
    168.89614766532182,146.59978036285935
    171.92709283323506,137.06546348456737
    174.95780216180208,127.5318884761987
    177.98799709980142,117.99993156462797
    181.0178048968315,108.46919246613979
    184.04524654024414,98.94589647767883
    187.0773176492783,89.40803777370584
    190.10658946960726,79.87898467460897
    193.13544841102765,70.35123035134866
    196.16625800767076,60.817339933905515
    199.1915239599643,51.30088792559253
    202.22224857081787,41.76726484437703
    205.25522887298615,32.22654612975919
    208.28163018455857,22.706522669461528
    211.31154981033652,13.17543179597933
    214.3423400416374,3.641602295279503
    );
    -webkit-clip-path: polygon(250px 0, 350px 170px, 500px 180px, 380px 320px, 450px 500px, 250px 420px, 50px 500px, 120px 320px, 0px 180px, 150px 170px );  
}

#text-1 {
    position: absolute;
    left: 320px;
    top: 500px;
}

.box-2 {
    background-color: white;
    width: 325px;
    height: 314px;

}

#text-2 {
    position: absolute;
    left: 850px;
    top: 500px;
}




